@import './colors';

div.progress-section {
  display: flex;
  flex-direction: row;
}

.oval {
  width: 4.25rem;
  height: 4.25rem;
  border: double 5px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white), linear-gradient(to bottom, $medium-blue, #379cf6);
  background-origin: border-box;
  background-clip: content-box, border-box;
  display: inline-block;
}

div.progress-chart {
  border-right: 1px solid $white;
  flex: 1 1 50%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 13rem;

  .completed-text {
    opacity: 50%;
  }
}

.progress-section .current-section {
  display: flex;
  justify-content: space-around;
  padding: 0 1.5rem;

  .current-heading {
    font-size: 0.8rem;
    opacity: 50%;
  }

  button {
    background-color: $azure;
    padding: 0.6rem 0.8rem;
    color: $white-two;
    border: none;
    border-radius: 3px;
  }
}
